*{
    font-size: 20px;
    font-family: 幼圆;
}
#oDiv1{
    position: relative;
    left:15px;
    top:40px;
    width:1320px;
    height:600px;
    background-color: #eaf9e9;
}
#oDiv2{
    height: inherit; 
    box-shadow: 10px -10px 10px #888 ;
    background: linear-gradient(90deg,rgba(204,194,194,0.5) 3%,transparent 0),
    linear-gradient(rgba(204,194,194,0.5) 3%,transparent 0);
    background-size: 30px 29px;
}
#leftDiv{   /*左侧空白部分*/
    float: left;
    height: inherit;
    width:330px;
    background-color: #D5f0B7;
    border-radius: 10px;
    margin: 0 10px 0 10px;
}
#data{    /*中间部分的背景*/
    float: left;
    position: relative;
    top:25px;
    width: 600px;
    height: 550px;
    background-color: #D5f0B7;
    border-radius: 10px;
    margin: 0 10px 0 10px;
    overflow: scroll;
}
#head{
    position: relative;
    left:10px;
    width:560px;
    height:35px;
    border-bottom-style: solid;
    border-bottom-width:4px;
    margin:15px 0 0 10px;
}
#head p{
    margin:0;
    font-family: 黑体;
    font-size: 30px;
}
#form{
    position: relative;
    top:0px;
    width:440px;
    float: left;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin:0 0 0 15px;
    font-weight: bold;
}
#form div{
    margin:10px;
    position: relative;
    top:20px;
}
#form input{
    width:240px;
    height:25px;
    border:none;
    border-radius: 5px;
    background-color: whitesmoke;
}
#form input:focus{
    outline: none;
}
#form label input{
    width:initial;
    height:initial;
    cursor: pointer;
}
label{
    cursor: pointer;
}
#form select{
    width:100px;
    height:25px;
    font-size:15px;
}
#form select:focus{
    outline: none;
}

textarea{
    position: relative;
    left:-10px;
    resize: none;
    width:240px;
    height:150px;
    border: none;
    border-radius: 5px;
    background-color: whitesmoke;
}
textarea:focus{
    outline: none;
}

#align1{              /*部分表单的对其*/
    position: relative;
    left:-65px;
}
#align2{
    position: relative;
    left:-69px;
}
#align3{
    position: relative;
    left:7px;
}

/*placeholder*/
input::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    font-style:italic;
    font-size: 15px;
}
input:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    font-style:italic;
    font-size: 15px;
}
input::-moz-placeholder { /* Mozilla Firefox 19+ */
    font-style:italic;
    font-size: 15px;
}
input:-ms-input-placeholder { /* Internet Explorer 10-11 */
    font-style:italic;
    font-size: 15px;
}
textarea::-webkit-input-placeholder { 
    font-style:italic;
    font-size: 15px;
}
textarea:-moz-placeholder { 
    font-style:italic;
    font-size: 15px;
}
textarea::-moz-placeholder { 
    font-style:italic;
    font-size: 15px;
}
textarea:-ms-input-placeholder { 
    font-style:italic;
    font-size: 15px;
}

#form div p{
    margin:0;
}
#submit{
    position: relative;
    left:32.7px;
    width:130px;
    height:40px;
    font-weight: initial!important;
    display: flex;
    justify-content: center!important;
    background-color: dodgerblue;
    color:white;
    line-height: 40px;
    border-radius: 10px;
    margin:0 !important;
}
#submit:hover{
    background-color: rgb(6, 106, 206);
    cursor: pointer;
}
#submit:active{
    background-color:rgb(61, 138, 216);
}
#arm{
    float: left;
    position: relative;
    top:150.5px;
    left:30px;
    width: 120px;
    height:200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin:0 0 0 15px;
    font-weight: bold;
}
#arm div{
    width: 120px;
    height:120px;
    border-radius:60px;
    overflow: hidden;
    border-style: none;
}
#arm img{
    width: 120px;
    height: 120px;
    cursor: pointer;
}
#arm p:hover{
    cursor: pointer;
    color:dimgray;
}
#arm p:active{
    cursor: pointer;
    color: dimgrey;
}
::-webkit-scrollbar{   /*滚动条宽与背景颜色*/
    width:6px;
    background-color:#D5f0B7;
}
::-webkit-scrollbar-track{   /*定义轨道的样式*/
    border-radius: 3px;
}
::-webkit-scrollbar-thumb{   /*滑块的样式*/
    background-color: dimgrey;
    border-radius: 5px;
}
::-webkit-scrollbar-button{  /*定义上下按钮的样式*/
    background-color: #D5f0B7;
}
#articleDiv div{
    width: 560px;
    height:170px;
    background-color:#eaf9e9;
    border-radius: 10px;
    margin:5px;
    padding: 5px;
}
#functionList{     /*右边部分*/
    float: left;
    height: 310px;
    width:330px;
    background-color: #D5f0B7;
    margin:0px 10px 5px 10px;
}
#functionList div{
    width: inherit;
    display: flex;
    flex-wrap: wrap;
    overflow: hidden;
    padding: 0;
}
.special:hover{   /*鼠标移动样式*/
    background-color: rgb(191, 235, 141);
    cursor: pointer;
}
.special:active{   /*鼠标点击样式*/
    background-color: rgb(169, 240, 87);   
}
#functionList img{
    float: left;
    width:42.5px;
    height:42.5px;
}
#important{
    width:323px !important;
    height:140px !important;
    position: relative;
    left:4px;
    top:4px;
}
#functionList div p{
    margin:0;
    font-weight: bold;
    line-height: 42.5px;
    position: relative;
    left:80px;
}
#userList{
    float: left;
    height: 280px;
    width:330px;
    background-color: #D5f0B7;
    border-radius: 10px;
    margin:5px 10px 0px 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#userList a{
    text-decoration:none;
    color: black;
    position: relative;
    top:18px;
    font-size: 14px;
    font-weight: bold;
}
#userList a:hover{
    cursor: pointer;
    color:dimgray;
}
#useLidt a:active{
    cursor: pointer;
    color: dimgrey;
}
#userList div{
    width:80px;
    height:80px;
    overflow: hidden;
    border-radius: 40px;
}
#userList p{
    font-size:17px;
    font-weight: bold;
}
#nameClick{
    margin:17px;
    border-radius:5px;
    cursor: pointer;
}
#nameClick:hover{
    background-color:rgb(191, 235, 141);
}
#nameClick:active{
    background-color: rgb(169, 240, 87);
}
#sentenceClick{
    width:300px !important;
    height:30px !important;
    background-color:#eaf9e9;
    border-radius: 5px !important;
    cursor: pointer;
}
#sentenceClick:hover{
    background-color:rgb(191, 235, 141);
}
#sentenceClick:active{
    background-color: rgb(169, 240, 87);
}
#userList img{
    width: 80px;
    height: 80px;
    cursor: pointer;
}

